<div>
    <label (click)="dataSortAndPagination()">Accidents</label>
  </div>
  
  <div>
    <mat-table [dataSource]="dataSource1" matSort>
      <!-- Location Column -->
      <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef mat-sort-header > Location </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.location}} </mat-cell>
      </ng-container>
      <!-- Date Column -->
      <ng-container matColumnDef="accidentDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.accidentDate}} </mat-cell>
      </ng-container>
      <!-- Number Of Parties Column-->
      <ng-container matColumnDef="parties">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Number Of Parties </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.parties}} </mat-cell>
      </ng-container> 
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons ></mat-paginator>
  </div>
  
