
<div class="flex justify-center ...">
    <p class="text-lg ...  text-blue-600">Crash Map Distribution</p>
</div>




<div id="map" style="height: 75%; width :65%; margin-left:auto; margin-right:auto; justify-content: center;" class="shadow-lg shadow-green-500 md:shadow-xl md:shadow-green-500">
</div><div id="mapContainer">
</div> 
<br>
<div class="flex justify-center ...">


<button id="delete-markers" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" >
    Clear</button> &nbsp;&nbsp;&nbsp;&nbsp;
<button id="put-markers" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" >
    Get Crash Sites</button>
</div>
 